body {
  background-color: #952e46;
}

img.logo {
  max-width: 20px;
  max-width: 20px;
}

a.header-text {
  color: white;
  padding-left: 15px;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
}
div.py-2 {
  background-color: #6c2132;
}

.btn-primary {
  background-color: #952e46;
  border-color: #952e46;
}

container-mainpage {
  align-content: center;
}

img.header-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img.Profile-image {
  filter: grayscale(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a.links {
  color: black;
  text-decoration: underline;
}

a.password-links {
  color: black;
  text-decoration: underline;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 10px;
  text-align: right;
}

container.journey-container {
  align-content: center;
}

hr {
  border-color: white;
  border-top-width: 2px;
}

h1 {
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
}

h2.Journey {
  color: black;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-align: center;
}

h3 {
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

h3.contact-links {
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

h4 {
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 20px;
}

h4.black {
  color: black;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 20px;
}

h5 {
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 15px;
}

#mapid {
  height: 180px;
  width: 600px;
  height: 400px;
  position: relative;
  outline: none;
  align-content: center;
}
